openapi: 3.1.0
info:
  title: Google Docs Edit & Restore API
  description: Allows automated editing, downloading, and restoration of Google Docs.
  version: 1.0.0
servers:
  - url: https://docs.googleapis.com
    description: Google Docs API
  - url: https://www.googleapis.com
    description: Google Drive API
paths:
  /v1/documents/{documentId}:
    get:
      operationId: getDocument
      summary: Retrieve the content of a Google Document.
      parameters:
        - name: documentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The Google Docs document content.
          content:
            application/json:
              schema:
                type: object

  /v1/documents/{documentId}:batchUpdate:
    post:
      operationId: updateDocument
      summary: Apply text edits to a Google Doc.
      parameters:
        - name: documentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                requests:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Document successfully updated.
          content:
            application/json:
              schema:
                type: object

  /drive/v3/files/{fileId}/export:
    get:
      operationId: downloadDocument
      summary: Download the Google Document in a specified format (PDF, DOCX).
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            type: string
        - name: mimeType
          in: query
          required: true
          schema:
            type: string
            enum:
              - application/pdf
              - application/vnd.openxmlformats-officedocument.wordprocessingml.document
      responses:
        '200':
          description: The exported document file.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            application/vnd.openxmlformats-officedocument.wordprocessingml.document:
              schema:
                type: string
                format: binary

  /drive/v3/files/{fileId}/copy:
    post:
      operationId: copyDocument
      summary: Make a copy of the document before making changes (to allow restore).
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '200':
          description: A copy of the file was created.
          content:
            application/json:
              schema:
                type: object

  /drive/v3/files/{fileId}:
    delete:
      operationId: deleteDocument
      summary: Delete a Google Drive file (used for cleanup or replacement).
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Document successfully deleted.
components:
  securitySchemes:
    googleOAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/documents: Full access to Docs
            https://www.googleapis.com/auth/drive: Full access to Drive
security:
  - googleOAuth:
      - https://www.googleapis.com/auth/documents
      - https://www.googleapis.com/auth/drive
